interpreter-flow.json
[{"id":"c34ccd5c.69e0c","type":"tab","label":"Interpreter","disabled":false,"info":""},{"id":"8d27bbec.e979e8","type":"microphone","z":"c34ccd5c.69e0c","name":"","x":110,"y":40,"wires":[["1afddcd9.c3ac73"]]},{"id":"fbb5096b.c0fc88","type":"play audio","z":"c34ccd5c.69e0c","name":"","voice":"","x":430,"y":340,"wires":[]},{"id":"1afddcd9.c3ac73","type":"watson-speech-to-text","z":"c34ccd5c.69e0c","name":"","alternatives":1,"speakerlabels":true,"smartformatting":false,"lang":"en-US","langhidden":"","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"BroadbandModel","bandhidden":"","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"","apikey":"XfuTmKdwNTEmWXwkpjUKjQewakEBi5o7CxB5IBPzlMnc","payload-response":false,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"https://api.us-east.speech-to-text.watson.cloud.ibm.com/instances/1ddd37e0-f23e-477c-9abc-412ba08394b9","x":140,"y":100,"wires":[["59cb6848.d06f68","90244c0a.47e79"]]},{"id":"6723970d.6f4098","type":"watson-translator","z":"c34ccd5c.69e0c","name":"","action":"translate","basemodel":"ar-en","domain":"general","srclang":"en","destlang":"es","password":"","apikey":"l4eW40KOoWWRhsAHn4ADjfExupgS67NUQzMMaL2cDj8g","custom":"","domainhidden":"general","srclanghidden":"en","destlanghidden":"es","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"service-endpoint":"","x":270,"y":220,"wires":[["cd036be8.0a1418"]]},{"id":"59cb6848.d06f68","type":"function","z":"c34ccd5c.69e0c","name":"Prepare for translation","func":"msg.payload = msg.transcription;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":160,"wires":[["6723970d.6f4098"]]},{"id":"cd036be8.0a1418","type":"watson-text-to-speech","z":"c34ccd5c.69e0c","name":"","lang":"es-ES","langhidden":"es-ES","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"es-ES_LauraV3Voice","voicehidden":"","format":"audio/wav","password":"","apikey":"rVHrGlesyQdEgv7gTA_qkb03COoW6r9vG8A5biZR7bRr","payload-response":false,"service-endpoint":"https://api.us-east.text-to-speech.watson.cloud.ibm.com/instances/27681f45-9ca7-4b38-9b22-d86a596d3931","x":380,"y":280,"wires":[["fbb5096b.c0fc88"]]},{"id":"90244c0a.47e79","type":"debug","z":"c34ccd5c.69e0c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":440,"y":200,"wires":[]}]
